<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.locker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- user activities -->
        <activity
            android:name=".user_dashboard.DashboardUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user_dashboard.BookLockerUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user_dashboard.RenewalLockerUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user_dashboard.MyLockerUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user_dashboard.ProblemUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user_dashboard.NotificationUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- coordinator activities -->
        <activity
            android:name=".coord_dashboard.DashboardCordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coord_dashboard.ReservedLockersCordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coord_dashboard.NonReservedLockersCordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coord_dashboard.ManageUsersCordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coord_dashboard.ViewReportCordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coord_dashboard.ViewFloorReportCordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coord_dashboard.ViewLevelReportCordActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
